<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anurag.register">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tacreg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tacreg"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterForm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowDetails"
            android:label="Registered Enquiries"/>
        <activity android:name=".ShowMoreDetails"
            android:label="Details About Enqiry"/>
        <activity android:name=".MessageToQuery"
            android:label="Message"/>
        <activity android:name=".AddMorePeopleToMessage"
            android:label="Add more people to message"/>
    </application>

</manifest>